* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Risque", cursive;
}

body {
  background-color: #490254;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  #main {
    color: white;
    background-color: #161616;
    width: 80vw;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border: 5px solid#f9e31e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1#title {
      font-size: 100px;
      margin-top: 2rem;
    }
    h2 {
      font-size: 40px;
    }
    h3 {
      font-size: 40px;
      margin-top: 3rem;
    }
    #img-div {
      #image {
        margin-top: 2rem;
        max-width: 800px;
        display: block;
      }
      #img-caption {
        margin-left: 5rem;
      }
    }
    #tribute-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2 {
        margin: 5rem 0rem 2rem 0rem;
      }
      p {
        font-size: 30px;
        line-height: 2.5rem;
      }
    }
    div#wiki {
      display: flex;
      margin: 2rem;
      p {
        font-size: 25px;
        margin-right: 1rem;
      }
      a {
        font-size: 25px;
        text-decoration: none;
        color: yellow;
      }
    }
  }
}
